<div class="row">
    <div class="col-md-12">
        <h2 style="text-align: center;">
            <img src="~/Content/images/mvc_logo.PNG" class="img-responsive center-block" />
        </h2>
</div>
